@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 8px;
}

/* HEADER'S STYLING */

header, .hero-wrap, .navbar a {
    background-color: #1F2937;
    color: #f9faf8;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 150px;
    margin: -8px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    min-width: 96px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.navbar li {
    min-width: 60px;
}

.navbar a {
    text-decoration: none;
}

/* END OF HEADER'S STYLING */


/* HERO'S STYLING */

.hero-wrap {
    display: flex;
    margin: 8px -8px;
    height: 275px;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.hero-sign {
    width: 445px;
}

.hero-sign .main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-sign .text {
    font-size: 18px;
    font-weight: 300;
}

.hero-img {
    background-color: grey;
    width: 500px;
    min-width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END OF HERO'S STYLING */



/* INFO'S STYLING */

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    min-width: 800px;
    margin-bottom: 80px;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    margin: 36px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    font-weight: 300;
}

.frame {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 16px;
}

/* END OF INFO'S STYLING */



/* QUOTE'S STYLING */

.quote-wrap {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
    width: 785px;

}

.text-quote {
    font-style: italic;
    font-size: 36px;

}

.text-author {
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    text-align: right;
}

/* END OF QUOTE'S STYLING */



/* SIGN'S STYLING */
.sign-wrap {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    background-color: #3882f6;
    width: 1000px;
    height: 150px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.text-call {
    font-weight: 700;
    font-size: 24px;
}

.sign-up{
    align-self: center;
    border: 2px solid #f9faf8;
}

/* END OF SIGN'S STYLING */


/* FOOTER'S STYLING */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin: -8px;
    color: #f9faf8;
    height: 80px;
    font-weight: 500;
}
/* END OF FOOTER'S STYLING */

